Repository vechainfoundation/ledger-live, pull requests merged in 2023-09, with the labels that each got.

#21 fix: comments
  libs/coin-framework/src/account/helpers.ts
  libs/ledger-live-common/src/families/vechain/errors.ts
  libs/ledger-live-common/src/families/vechain/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/vechain/js-signOperation.ts
  libs/ledger-live-common/src/families/vechain/js-synchronisation.ts
Labels: common, fork

#23 fix: all ledger comments MR
  .changeset/red-bags-own.md
  apps/ledger-live-desktop/src/helpers/tokensWithUnsupportedGraph.ts
  apps/ledger-live-desktop/src/renderer/screens/account/BalanceSummary.tsx
  apps/ledger-live-desktop/src/renderer/screens/asset/BalanceSummary.tsx
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  apps/nanos/1.0.3/Vechain/app_1.0.7.elf
  libs/ledger-live-common/src/families/vechain/account.ts
  libs/ledger-live-common/src/families/vechain/api/sdk.ts
  libs/ledger-live-common/src/families/vechain/bridge.integration.test.ts
  libs/ledger-live-common/src/families/vechain/bridge/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/vechain/bridge/js.ts
  libs/ledger-live-common/src/families/vechain/cli-transaction.ts
  libs/ledger-live-common/src/families/vechain/errors.ts
  libs/ledger-live-common/src/families/vechain/js-broadcast.ts
  libs/ledger-live-common/src/families/vechain/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/vechain/js-signOperation.ts
  libs/ledger-live-common/src/families/vechain/js-synchronisation.ts
  libs/ledger-live-common/src/families/vechain/js-transaction.ts
  libs/ledger-live-common/src/families/vechain/specs.ts
  libs/ledger-live-common/src/families/vechain/transaction.ts
  libs/ledger-live-common/src/families/vechain/types.ts
  libs/ledger-live-common/src/families/vechain/utils/calculateTransactionInfo.ts
  libs/ledger-live-common/src/families/vechain/utils/mapping-utils.ts
  libs/ledger-live-common/src/families/vechain/utils/transaction-utils.ts
  libs/ledger-live-common/src/hw/signMessage/index.ts
  libs/ledgerjs/packages/cryptoassets/src/tokens.ts
Labels: desktop, mobile, common, ledgerjs, translations, fork

#25 fix bridge tests with a new frozen seed phrase and a new account to test NotEnoughVTHO error
  libs/ledger-live-common/src/families/vechain/__snapshots__/bridge.integration.test.ts.snap
  libs/ledger-live-common/src/families/vechain/bridge.integration.test.ts
  libs/ledger-live-common/src/families/vechain/bridge/mock.ts
  libs/ledger-live-common/src/families/vechain/datasets/vechain.scanAccounts.1.ts
  libs/ledger-live-common/src/families/vechain/datasets/vechain.ts
  libs/ledger-live-common/src/families/vechain/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/vechain/js-transaction.ts
  libs/ledger-live-common/src/families/vechain/utils/transaction-utils.ts
  libs/ledger-live-common/src/generated/bridge/mock.ts
Labels: common, fork

#26 Import placeholder instead of require
  apps/ledger-live-mobile/src/components/Graph/Placeholder.tsx
Labels: mobile, fork

#27 fix: vtho const and from block parameter
  libs/ledger-live-common/src/families/vechain/js-synchronisation.ts
Labels: common, fork

#28 fix: remove static max fees value with a dynamic one
  libs/ledger-live-common/src/families/vechain/bridge/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/vechain/utils/transaction-utils.ts
Labels: common, fork

#29 Revert "fix: remove static max fees value with a dynamic one (#28)"
  libs/ledger-live-common/src/families/vechain/bridge/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/vechain/utils/transaction-utils.ts
Labels: common, fork

#30 Carpini/testing transaction max fees 2023 09 25
  apps/ledger-live-desktop/static/i18n/en/app.json
  apps/ledger-live-mobile/src/locales/en/common.json
  libs/ledger-live-common/src/families/vechain/bridge/js-estimateMaxSpendable.ts
  libs/ledger-live-common/src/families/vechain/bridge/mock.ts
  libs/ledger-live-common/src/families/vechain/errors.ts
  libs/ledger-live-common/src/families/vechain/js-getTransactionStatus.ts
  libs/ledger-live-common/src/families/vechain/js-transaction.ts
  libs/ledger-live-common/src/families/vechain/types.ts
  libs/ledger-live-common/src/families/vechain/utils/transaction-utils.ts
Labels: desktop, mobile, common, translations, fork
